@media (min-width: 767px) {
    div.full-production {
        width : 70%;
    }
}


div.full-production a.production-title h2 {
    margin-top : 50px;
}

div.full-production div.production-meta {
    margin-bottom : 100px;
    text-align: center;
}

div.full-production div.production-content {
    margin-bottom : 100px;
    font-family: 'Domine', sans-serif;
}

div.full-production a {
    color : #FC427B;
}