.main-production {
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.production-cover {
    height: 300px;
    cursor: click;
}

.overflow-hidden { overflow: hidden; }