 a.article-img {
     background-color: rgba(0, 0, 0, 0) ;
     background-position-x: 50% ;
     background-position-y: 50% ;
     background-size: cover ;
     box-sizing: border-box ;
     color: rgb(0, 0, 238) ;
     cursor: pointer ;
     display: block ;
     font-size: 17px ;
     line-height: 22px ;
     margin-left: 0px ;
     margin-right: 0px ;
     max-width: 100% ;
     text-align: center ;
     text-decoration-color: rgb(0, 0, 238) ;
     text-decoration-line: underline ;
     text-decoration-style: solid ;
     text-size-adjust: 100% ;
     -webkit-font-smoothing: antialiased;
     width : auto;
}

div.main-article a.article-img {
    height: 365px;
    padding-top: 365px ;
}

div.article a.article-img {
     height: 150px;
    padding-top: 150px ;
}


a.article-title h5 {
     transition: color .3s ease;
     color: rgba(0, 0, 0, 0.5);
     font-weight: bold;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
}