@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Domine');

div#app {
    font-family: 'Lato', sans-serif;
}

div.site-header-logo {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    text-decoration: none;
}

a.header-link.nav-link {
 font-family: Oswald, sans-serif;
}